@font-face {
    font-family: SharpGrotesk;
    src: url(/fonts/SharpGroteskVariableSW-Med17.C_L4fzs7.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SharpGrotesk;
    src: url(/fonts/SharpGroteskWeb-Bold15.BpvEiGho.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SharpGrotesk;
    src: url(/fonts/SharpGroteskVariableSW-Bold17.nAEfPOfk.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  color: #FFFFFF;
  font-family: 'SharpGrotesk', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.navigation-bar {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
  padding-left: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nba2k-logo {
  width: 80px;
  height: auto;
  padding: 20px;
}

.navigation-contents{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-button {
  border: none;
  background: #E30101;
  color: #FFFFFF;
  padding: 5px 10px;
  font-family: "SharpGrotesk", sans-serif;
  font-size: 20px;
  text-transform: uppercase;

  &:hover {
    background: #FFFFFF;
    color: #E30101;
  }
}

.hamburger {
  display: grid;
  border: none;
  background-color: transparent;
  width: 18px;          
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 0;            
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #E30101;  
  transition: all 0.3s ease-in-out;
  
}

.hamburger span:nth-child(2){
  height: 2px;
}

.hamburger.show span:nth-child(1) {
  height: 2px;
  transform: rotate(45deg) translate(4.5px,4.5px);
}

.hamburger.show span:nth-child(2) {
  opacity: 0;
}

.hamburger.show span:nth-child(3) {
  height: 2px;
  transform: rotate(-45deg) translate(4.5px,-4.5px);
}

.nav-links {
  display: none;
  position: fixed;
  flex-direction: column;
  gap: 50px;
  background: #000000;
  position: absolute;
  top: 60px;
  right: 0;
  width: 350px;
  height: 100vh;
  padding: 20px;
  text-align: center;
  overflow-y: auto;  
  overflow-x: hidden; 
  transition: transform 0.3s ease-in-out;
}

.nav-links.show {
  display: flex;
}

.nav-links ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 50px;
  text-align: left;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "SharpGrotesk", sans-serif;
  font-size: 30px;
  position: relative;
  padding: 10px 0;
}

.nav-links li a:hover {
  color: #E30101;
}

.content-1 {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  text-align: center;
  padding: 64px;
  overflow: hidden;
}

.video-background {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: auto;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.content-1-button{
  border: none;
  background: #E30101;
  color: #FFFFFF;
  padding: 14px 30px;
  font-family: "SharpGrotesk", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #FFFFFF;
    color: #000000;
  }
}

.content-2 {
  background-image: url('https://nba.2k.com/assets/nba2k_aa_blacktop_d.KzHyaPnx.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  gap: 20px;
}

.content-2-text{
  display: block;
  font-size: 22.5px;
}

.world-of-2k {
  background:#000000;
  padding: 80px 5%;
}

.world-of-2k-iframe {
  width: 100%;
  height: 675px;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.content-3{
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;

  a{
    text-decoration: none;
  }
}

.games-section-header {
  font-family: 'SharpGrotesk', sans-serif;
  color: #000000;
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.games{
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 30px;
  justify-content: center; 
}

.game-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-card-image{
  width: 100%;
  max-width: 416px;
  object-fit: cover;
  object-position: center;
}

.game-title{
  font-family: 'SharpGrotesk', sans-serif;
  font-size: 30px;
  font-weight: bold;  
  color: #000000;
}

.learn-button {
  background: transparent;
  border: none;
  color: #E30101;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.socials{
  display: flex;
  flex-direction: column;
  background: #000000;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 64px;
}

.socials-header{
  font-family: 'SharpGrotesk', sans-serif;
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.social-box{
  display: flex;
  gap: 30px;
}

.social-icon-container {  
  background-color: #E30101;
  border: 2px solid #E30101;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 110px;
  height: 75px;
}

.social-icon-container:hover {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.social-icon { 
  width: 50px;
  height: 50px;
}

.content-4 {
  background: #FFFFFF;
  color: #000000;
  padding: 80px 5%;
  display: flex;
  gap: 60px;
  align-items: center;

  a{
    align-self: center;
  }
}

.content-4:nth-child(even) {
  flex-direction: row-reverse;
}

.content-box-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 32px;
}

.content-header {
  font-family: 'SharpGrotesk', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.content-description {
  font-family: 'SharpGrotesk', sans-serif;
  font-size: 20px;
  line-height: normal;
  text-align: left;
}
.content-learn-button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: 'SharpGrotesk', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.content-learn-button:hover {
  background-color: #C51230;
  color: #FFFFFF;
}

.content-box-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-image{
  width: 100%;
  height: auto;
}

.content-5{
  background-color: #000000;
  color: #FFFFFF;
  padding: 50px 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.content-5-header {
  font-family: 'SharpGrotesk', sans-serif;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.content-5-description {
  font-size: 20px;
  max-width: 880px;
  margin-bottom: 40px;
}

.content-5-button {
  background-color: #E32636;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 12px 16px;
  font-family: 'SharpGrotesk', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}


.content-5-button:hover {
  background: #FFFFFF;
  color: #000000;
}

.content-6 {
  background-color: #E32636;
  color: #000000;
  padding: 80px 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a{
    align-self: center;
  }
}

.content-6-learn-button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: 'SharpGrotesk', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.content-6-learn-button:hover {
  background-color: #FFFFFF;
  color: #000000;
}


.footer{
  background-color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 64px 80px;
}

.footer-socials{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  width: 54px;
  height: 54px;
}

.footer-nba2klogo {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.footer-2klogo-icon {
  width: 74px;
  height: auto;
}

.footer-nbalogo-icon{
  width: 74px;
  height: auto;
}

.footer-esrblogo-icon{
  max-width: 200px;
  width: auto;
  height: auto;
}

.footer-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
  padding: 0 300px;
}

.footer-links a {
  text-decoration: none;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "SharpGrotesk", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.footer-links a:hover {
  color: #E30101;
}

.footer-copyright {
  color: #FFFFFF;
  font-size: 20px;
  text-align: left;
  line-height: normal;
}

/* Tablets (<= 1024px) */
@media (max-width: 1024px) {
  .navigation-bar {
    padding-left: 40px;
    padding-right: 40px;
  }

  .content-1 {
    height: 400px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
  }

  .world-of-2k-iframe {
    height: 500px;
  }

  .content-4, 
  .content-6 {
    flex-direction: column;
    text-align: center;
  }
  .content-box-text, 
  .content-box-image {
    width: 100%;
  }
}

/* Mobile (<= 768px) */
@media (max-width: 768px) {
  .navigation-bar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-links li a{
    font-size: 24px;
  }

  .content-1 {
    height: 300px;
  }

  .content-1-button{
    font-size: 20px;
    padding: 10px 20px;
  }

  .content-2{
    padding: 56px 16px;
  }

  .content-2-text {
    font-size: 18px;
    padding: 18px 0;
  }

  .games {
    flex-direction: column;
    align-items: center;
  }

  .world-of-2k-iframe {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

  .game-card-image {
    max-width: 100%;
  }

  .social-box {
    flex-direction: column;
    gap: 16px;
  }

  .content-4 , .content-6{
    display: flex;
    justify-content: center; 
    align-items: center;      
    gap: 40px;                
    text-align: center;     
    padding: 40px;
  }  

  .content-4:nth-child(even) {
  flex-direction: column;
  }
  
  .content-box-text {
    width: 100%;
    padding: 16px;
  }

  .content-header {
    font-size: 32px;
  }

  .content-description {
    font-size: 16px;
  }

  .content-learn-button, .content-6-learn-button{
    font-size: 25px;
  }

  .content-box-image img {
    max-width: 100%;
  }

  .footer {
    padding: 40px 20px;
  }
  .footer-links {
    padding: 0;
    gap: 16px;
    flex-direction: column;
  }
  .footer-links a {
    font-size: 22px;
  }
  .footer-copyright {
    font-size: 14px;
    text-align: center;
  }
}

/* Very small devices (<= 480px) */
@media (max-width: 480px) {
  .games-section-header {
    font-size: 28px;
  }

  .game-title {
    font-size: 22px;
  }

  .nav-links {
    width: 100%;
  }

  .content-5-header {
    font-size: 26px;
  }

  .footer-links a {
    font-size: 18px;
  }
}