* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-primary;
  background-color: $color-bg-dark;
  background-image: url(https://assets.2k.com/1a6ngf98576c/2mai3GB8vLEoDA1iRGS652/f704f8e95962c78bf277a9af3898efba/desktop-n26-bg.png);
  color: $color-primary;
}