@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-style(
  $bg: $color-bg-dark,
  $color: $color-primary,
  $hover-bg: $color-link,
  $hover-color: $color-link-hover,
) {
  font-size: $button_font-size;
  text-transform: $button_text-transform;
  font-weight: $button_font-weight;
  font-style: $button_font-style;
  line-height: $button_line-height;
  box-shadow: $shadow-md;
  background: $bg;
  color: $color;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: $hover-bg;
    color: $hover-color;
  }
}
