@font-face {
    font-family: RecklessNeue;
    src: url(/fonts/RecklessNeue-MediumItalic.C5FQ6AGO.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SharpGrotesk;
    src: url(/fonts/SharpGroteskWeb-Bold12.CN42NPuv.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SharpGrotesk;
    src: url(/fonts/SharpGroteskWeb-BoldItalic12.BLwVMv2q.woff) format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: SharpGrotesk;
    src: url(/fonts/SharpGroteskWeb-Medium15.bb6yNNe2.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SharpGrotesk;
    src: url(/fonts/SharpGroteskWeb-MediumItalic15.COnlAQXR.woff) format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/Barlow-SemiBold.CeCqmF51.woff) format("woff");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular-webfont.LrSXIxBI.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto Condensed;
    src: url(/fonts/Roboto-Condensed-webfont.DV8CeEIz.woff) format("woff");
    font-weight: 400;
    font-style: normal
}